@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}*/

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

/*body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/

body {
  @apply bg-zinc-950;
  @apply text-white;
}

/*@font-face {
  font-family: "LatinModernMath";
  src: url("/latinmodern-math.otf") format("opentype");
}*/

/*.paren-container:has(> .paren:hover) > .paren {
  @apply text-rose-700;
}

.abstr-x:has(.var-x:hover):not(:has(.abstr-x:hover))
  .var-x:not(.abstr-x:hover .abstr-x:not(:hover) .var-x) {
  @apply text-emerald-500;
}*/

/*
.abstr-x:is(
    :has(.var-x:hover):not(:has(.abstr-x:hover)),
    :has(> .abstraction-handle:hover)
  )
  .var-x:not(.abstr-x:not(:hover) .var-x) {
  color: green;
  &.bind {
    border-bottom: 1px solid green;
  }
}*/
